.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
  }
  .content {
    display: flex;
    flex: 1;
    color: #000; 
  }
  .columns{
    display: flex;
    flex:1;
  }
  .main{
    flex: 1;
    order: 2;
  }
  .sidebar-first{
    width: 20%;
    order: 1;
    background-color: black;
    opacity: .7;
  }
  .sidebar-second{ 
    width: 20%;
    order: 3;
    background-color: black;
    opacity: .7;
  }