.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
  }
  .content {
    display: flex;
    flex: 1;
    color: #000; 
  }
  .columns{
    display: flex;
    flex:1;
  }
  .main{
    flex: 1;
    order: 2;
  }
  .sidebar-first{
    width: 20%;
    order: 1;
    background-color: black;
    opacity: .7;
  }
  .navBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
    }
  li a {
    display: block;
    width: 200px;
    background-color: rgb(250, 93, 179);
    padding-bottom: 10px;
    text-align: center;
    color: white;
    }
  .sidebar-second{ 
    width: 20%;
    order: 3;
    background-color: black;
    opacity: .7;
  }